body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #97df4e, #1c2dc8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 30px;
    color: #4e73df;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    margin-top: 10px;
}
